<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

<div layout:fragment="content">
    <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header text-center"><i class="fa fa fa-bars"></i> Roles Management Page|| Add Role</h3>
                    <ol class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="/security">Security Home</a></li>
                        <li><i class="fa fa-bars"></i><a href="/security/users">User List</a></li>
                        <li><i class="fa fa-square-o"></i>Edit User Recored</li>
                    </ol>
                </div>
            </div>
        <div class="container">
            <section class="panel table table-bordered">
                <div class="panel-heading" style="padding: 10px">
                    <form class="form-inline" role="form"  th:action="@{/security/addRole}" method="post">
                        <div class="form-group">
                            <label class="sr-only">Id</label>
                            <input type="text" id="txtId" name="id" size="3"  readonly class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Description</label>
                            <input type="text" id="txtDescription"   name="description" placeholder="Description"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Details</label>
                            <input type="text" id="txtDetails" size="70" placeholder="Details" name="details"
                                   class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary form-control">Save</button>
                        <button type="reset" class="btn btn-warning">Clear</button>
                    </form>
                </div>

            </section>
        </div>
    </section>
</div>

<th:block layout:fragment="script">
    <script language="JavaScript">
        $('document').ready(function () {
            $('.table #display').on('click', function (event) {
                event.preventDefault();
                var href = $(this).attr('href');
                $.get(href, function (role, status) {
                    $('#txtId').val(role.id);
                    $('#txtDescription').val(role.description);
                    $('#txtDetails').val(role.details);
                })
            })
        })
    </script>
</th:block>

</body>
</html>
